{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/settings.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/global.css' %}"/>
    <title>PStore Settings</title>
</head>
<body>
    
    <!-- Навбар -->
    <ul>
        <li><a class='rainbow'>PStore</a></li>
        <li><a href="/">Home</a></li>
        <li><a href="/apps/">Search</a></li>
        <li><a href="/news/">News</a></li>
        <li><a href="/settings/">Settings</a></li>
        <li><a href="/about/">About</a></li>
        <li><a href="/admin/">Admin</a></li>
    </ul>

</body>
</html>