{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/welcome.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/global.css' %}"/>
    <title>PStore Start</title>
</head>
<body>
    
    <div class="pstore_text">Welcome to PStore</div>
    <button class="button_rainbow get_started"><a href="/">Get Started</a></button>
</body>
</html>