.pstore_text {
    font-size: 5em;
    text-align: center;
    position: absolute;
    
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
    opacity: 0.50;
    animation: rainbow 10s infinite linear;
    width: 20%;
    user-select: none;
    transition: all 0.5s ease-in-out;
}

.rainbow {
    animation: rainbow 5.5s linear;
    animation-iteration-count: infinite;
}


@keyframes rainbow {
    100%,0%{color: rgb(255,0,0);}
    8%{color: rgb(255,127,0);}
    16%{color: rgb(255,255,0);}
    25%{color: rgb(127,255,0);}
    33%{color: rgb(0,255,0);}
    41%{color: rgb(0,255,127);}
    50%{color: rgb(0,255,255);}
    58%{color: rgb(0,127,255);}
    66%{color: rgb(0,0,255);}
    75%{color: rgb(127,0,255);}
    83%{color: rgb(255,0,255);}
    91%{color: rgb(255,0,127);}
}



@media (min-width: 1400px) {
    .pstore_text {
        font-size: 4em;
        text-align: center;
        position: absolute;
        
        left: 50%;
        top: 45%;
        transform: translate(-50%, -50%);
        opacity: 0.50;
        animation: rainbow 10s infinite linear;
        width: 20%;
        user-select: none;
        transition: all 0.5s ease-in-out;
    }
}
@media (max-width: 1399.99px) {
    .pstore_text {
        font-size: 2em;
        text-align: center;
        position: absolute;
        
        left: 50%;
        top: 45%;
        transform: translate(-50%, -50%);
        opacity: 0.50;
        animation: rainbow 10s infinite linear;
        width: 30%;
        user-select: none;
        transition: all 0.5s ease-in-out;
    }
}

.get_started {
    position: absolute; 
    left: 50%;
    top: 57%;
    transform: translate(-50%, -50%);
    border: none;
    background-color: rgba(0, 0, 0, 0);
    font-size: 3ch;
    border-radius: 30px;
    border-color: red;
}

.get_started a {
    text-decoration: none;
}

@keyframes button_rainbow {
    100%,0%{border-color: rgb(255,0,0);}
    8%{border-color: rgb(255,127,0);}
    16%{border-color: rgb(255,255,0);}
    25%{border-color: rgb(127,255,0);}
    33%{border-color: rgb(0,255,0);}
    41%{border-color: rgb(0,255,127);}
    50%{border-color: rgb(0,255,255);}
    58%{border-color: rgb(0,127,255);}
    66%{border-color: rgb(0,0,255);}
    75%{border-color: rgb(127,0,255);}
    83%{border-color: rgb(255,0,255);}
    91%{border-color: rgb(255,0,127);}
}